<!DOCTYPE html>

<html lang="en">

<head>
    <title>lidl plus²</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link to the socket.io info -->
    <script type="text/javascript" src="/static/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>

    <!-- Link to the bootstrap css von https://pikock.github.io/bootstrap-magic/-->
    <link rel="stylesheet" href="/static/bootstrap.css">

</head>

<body>


    <div class="text-center bg-primary" style="padding-top:100px;padding-bottom:800px" onclick="location.href = '/'">
        <img src="/static/lidl.png" width="150" height="150">
        <div class="text-center bg-primary text-warning" style="padding-top:50px;">
            <h1>LIDL plus²</h1>
        </div>
    </div>


</body>

</html>